html, body{
    background-color: rgb(34, 33, 33);
}

.sansMenu{
    margin-left: 12em;
}


.nav{
    float : left;
    position: fixed;
    width: 12em;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    background-color: rgb(78, 78, 80);
}

.photo{
    max-width: 90%;
    width: auto;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
}

.NomP{
    color: rgb(192, 184, 184);
    text-align: center;
}

.btnPresentation:hover {
    color: #0ac4bb; 
}

.btnPresentation{
    scroll-behavior: smooth;
    color: black;
    background-color: rgb(78, 78, 80);
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 1s ease;
}

.tailleImg{
    width: 20px;
    position: relative;
    left: 0;
}

.imgPre{
    display: inline-block;
    padding-right: 5px;
}

.end{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 100px;
}

.mention{
    color: rgb(0, 0, 0);
    padding: 6px;
    font-size: 20px;
    display: flex;
    text-decoration: none;
    transition: 1s ease;
}

.mention:hover{
    color: #0ac4bb;
}

.bienvenue{
    font-size: 70px;
    margin-left: 70px;
    color: white;
}

.titre{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    color: rgb(121, 250, 154);
}
                    
.moi{
    color: white;
    display: flex;
    justify-content: flex-start;
}
.heu{
    margin: 0;
    padding: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 7s00px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 5px;
}

.slide img{
    width: 800px;
    height: 500px;
}

.navig-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid rgb(121, 250, 154);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: rgb(121, 250, 154);
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio1:checked ~ .first{
    margin-left: -20%;
}

#competence{
    margin-top: 10px;
}

.lien-projet{
    text-decoration: none;
    height: 30px;
    border-radius: 10px;
    border: 2px solid rgb(121, 250, 154);
    background-color: rgb(34, 33, 33);
    color: rgb(121, 250, 154);
    padding: 10px;
}

.lien-projet:hover{
    background-color: rgb(121, 250, 154);
    cursor: pointer;
    transition: 1s ease-out;
    color: rgb(34, 33, 33);
}

.contactMoi{
    color: white;
    text-align: center;
}


.nom{
    width: 500px;
    background-color: rgb(65, 62, 62);
    color: white;
    border: 2px solid black;
    margin: 10px ;
    padding: 8px;
}

.mail{
    width: 500px;
    background-color: rgb(65, 62, 62);
    color: white;
    border: 2px solid black;
    margin: 10px ;
    padding: 8px;
}

#msgContact{
    width: 500px;
    background-color: rgb(65, 62, 62);
    color: white;
    margin: 12px ;
    border: 2px solid black;
    padding: 8px;
}

.btnC{
    border: 2px solid rgb(121, 250, 154);
    height: 50px;
    width: 100px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(34, 33, 33);
    color: rgb(121, 250, 154);
}

.btnC:hover{
    transition: .4s ease-in;
    background-color: rgb(121, 250, 154);
    color: rgb(34, 33, 33);
}